<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>D-BPSK</title>

</head>

<body>
    <nav>
        <div class="light-mode-button">
            <img src="../static/images/AM_MAIN/icons8-moon-48 (1).png" alt="moon" />
        </div>
        <h1 class="theory-title">DBPSK Modulation</h1>
        <div class="buttons">
            <a href="/">
                <button class="theory-nav-button">
                    <img src="../static/images/AM_MAIN/icons8-home-50.png" alt="">
                </button>
            </a>
        </div>
    </nav>
    <section class="theory-body">

        <p>The differential demodulation of DEBPSK signal is denoted as differential-BPSK or DBPSK, sometimes simply
            called as DPSK.</p>

        <img src="/static/images/D-BPSK/13.png" alt="" width="270px">



        <p>Coherent detection requires a reference signal with accurate frequency and phase information. However, in
            non-coherent communications, a coherent reference signal is not available at the receiver. Figure 2.7
            illustrates a sub-optimum receiver, which differentially demodulates the DBPSK signal, where the previous
            symbol serves as a reference to demodulate the current symbol.
        </p>

        <img src="/static/images/D-BPSK/14.png" alt="">



        <p>In the sub-optimum receiver, the received signal is first passed through a narrow-band intermediate (IF)
            filter with bandwidth set to BW = 0.5Tb, where Tb is the bit duration. The IF filter not only reduces the
            noise in the received signal but also preserves the phase relationships contained in the signal. The
            filtered output is used to generate a differential signal that drives the integrator. The output of the
            integrator is given by:-</p>


        <img src="/static/images/D-BPSK/15.png" alt="">

        <p>In the absence of noise, the output of the integrator becomes:-
        </p>


        <img src="/static/images/D-BPSK/12.png" alt="">
        <p>where sk(t) and sk−1(t) are the current and previous transmitted symbols. Thus, the receiver makes decisions
            based on the difference between two adjacent bits. As a result, a differentially encoded BPSK (DEBPSK)
            signal can be differentially demodulated using the method above and this receiver structure is termed as
            suboptimum DBPSK receiver. The bit error probability performance of the sub-optimum receiver is given by</p>

        <img src="/static/images/D-BPSK/17.png" alt="">

        <div class="side_heading">
            <h3> Optimum non-coherent receiver for DBPSK </h3>
        </div>
        <p>In differentially encoded BPSK (DEBPSK), each message bit is represented by two adjacent modulated symbols.
            If the transmitted bit is 0, the two modulated symbols are same and if the transmitted bit is 1, the two
            modulated symbols will be different. Since, the phase information is encoded in two adjacent modulated
            symbols, following signals can be defined for 2Tb duration. </p>



        <img src="/static/images/D-BPSK/18.png" alt="">
        <p>This method does not require phase synchronization between the transmitter and receiver. However, it does
            require an accurate frequency reference for the carrier. Any change in the carrier frequency must be tracked
            and synchronized. Therefore, the sub-optimum receiver is a more practical, less complex implementation but
            is slightly inferior to the optimum receiver. The error rate performance of the optimum non-coherent DBPSK
            receiver is given by</p>


        <img src="/static/images/D-BPSK/19.png" alt="">
        <br>

        <img src="/static/images/D-BPSK/20.png" alt="">


        <p>
            Figure 2.9 shows the simulated points for the sub-optimum and the optimum receiver for DBPSK, together with
            the theoretical curves for conventional BPSK and coherently demodulated DEBPSK schemes.
        </p>

        <img src="/static/images/D-BPSK/21.png" alt="">

    </section>
    <script src="../../static/main.js"></script>
</body>

</html>