<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="graph-body">
  {% with title= title %}
    {% include 'nav.html' %}
  {%endwith%}
<div class="container-full" id="graph-back">
  <div class="notes">
    <h4>Warnings</h4>
    <ol>
      <li>Keep the carrier frequency much higher than the message frequency.</li>
      <li>Keep the carrier amplitude higher than the message amplitude.</li>
    </ol>
  </div>
  <form id="modulation-form" onsubmit="handleSubmit('{{am_type}}')" method="POST">
    <div class="inputs">
      {% if am_type == "QAM" %}
      <div class="input-wrapper wrap">
        <div>
          <label for="signal_type" class="form-label">Message type</label>
          <select name="message_signal" class="input-bar">
            <option value="sin">Sin</option>
            <option value="cos" selected>Cos</option>
            
            <option value="tri">Triangle</option>
            
          </select>  
        </div>
        <div>
          <label for="signal_type_2" class="form-label">Message type</label>
          <select name="message_signal_2" class="input-bar">
            <option value="sin">Sin</option>
            <option value="cos" selected>Cos</option>
            
            <option value="tri">Triangle</option>
           
          </select>  
        </div>
      </div>  
      {% else %}
      <div class="input-wrapper">
        <label for="signal_type" class="form-label">Message type</label>
        <select name="message_signal" class="input-bar">
          <option value="sin">Sin</option>
          <option value="cos" selected>Cos</option>
       
            <option value="tri">Triangle</option>
           
        </select>
      </div>  
      {% endif %}
      <div class="input-wrapper">
        <label for="freqm">Message frequency</label>
          <input required type="number" id="freqm" name="fm" min="1000" max="50000" placeholder="message frequency">
      </div>
      <div class="input-wrapper">
          <label for="am">Message Amplitutde</label>
          <input required type="number" id="am" name="Am" min="3"  placeholder="message amplitude">
      </div>
      <div class="input-wrapper">
        <label for="freqc">Carrier frequency</label>
        <input required type="number" id="freqc" name="fc" min="10000" max="50000" class="input-bar" placeholder="carrier frequency">
    </div>
    <div class="input-wrapper">
      <label for="am">Carrier Amplitude</label>
      <input required type="number" id="am" name="Ac" min="5"  placeholder="carrier amplitude">
  </div>

    </div>
    <div class="graph-buttons">
    <div class="buttons">
      <button id="submit-button">Show Resutls</button>
    </div>
    <div class="buttons">
      <button id="downloadAllButton">Download</button>
     
    </div>
  </div>
  </form>
</div>

<script>

  const form = document.getElementById('modulation-form');
  const typeOfMod = '{{am_type}}';

function handleSubmit(mtype){
    event.preventDefault();
    
    const inputValues = {};
    const allInputs = {};
    // console.log(mtype)
   
    const inputElements = form.querySelectorAll('input');
    
    inputElements.forEach(function(inputElement) {
      inputValues[inputElement.name] = inputElement.value;
    });

    allInputs[mtype] = inputValues;
    // console.log(allInputs);
    
    // Store input values in local storage
    // localStorage.setItem('inputValues', JSON.stringify(inputValues));
    localStorage.setItem('allInputs', JSON.stringify(allInputs));
      

    // Submit the form
    form.submit();
}
  // Check if local storage contains saved input values
  if (localStorage.getItem('allInputs')) {
    const savedValues = JSON.parse(localStorage.getItem('allInputs'));
    // console.log(typeOfMod);
    // console.log(savedValues[typeOfMod]);
    
    const valuesRequired = savedValues[typeOfMod]
    // Pre-fill the form fields with saved values
    for (const value in valuesRequired) {
      if (valuesRequired.hasOwnProperty(value)) {
        const inputElement = form.querySelector(`[name="${value}"]`);
        if (inputElement) {
          inputElement.value = valuesRequired[value];
        }
      }
    }
   }


   //////////////////////////////////

   function downloadAllImages() {
            // Create a container for the images
            var images = document.querySelectorAll("img");
            var zip = new JSZip();

            images.forEach(function(image, index) {
                var imageBase64 = image.src.split(",")[1];
                zip.file("image_" + index + ".png", imageBase64, { base64: true });
            });

            zip.generateAsync({ type: "blob" })
                .then(function(content) {
                    saveAs(content, "images.zip");
                });
        }

        // Add an event listener to the download all button
        document.getElementById('downloadAllButton').addEventListener('click', downloadAllImages);

</script>

<div class="plot-wrapper"> 
  {% if inputs|length%}
    <div class="input-display-section">
      {%for key, value in inputs.items()%}
      <article class="selected-value">
        <span>{{key}}</span>: 
        <span>{{value}} 
          {%if key=="Am" or key=="Ac"%}
            Volts
          {%elif key=="fm" or key=="fc" %}
            KHz
          {%endif%}
        </span>
      </article>
      {%endfor%}
    </div>
  {%endif%}

  {%if errMsg%}
     <span style="display: flex;justify-content: center;margin: 50px;font-size: 24px;">{{errMsg}}</span>
  {%else%}
    {% if plots | length == 0%}
  <p class="info">Please select the values to generate the graph</p>
    {% else %} 
     {% for plot in plots %}
  <img src="data:image/png;base64,{{ plot|decode_hex|b64encode }}" onclick="zoomin()" class="graph-plot" />
     {% endfor %}
    {% endif %}
  {% endif %}
</div>
</body>
</html>
